@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Patrick+Hand&display=swap');

body {
  font-family: 'Patrick Hand', cursive;
  background-color: #222222;
  font-size: 200%;
  line-height: 1.2;
  color: #F6F7EB;
}

h1, h2 {
  font-family: 'Gochi Hand', cursive;
  font-size: 200%;
}

a {
  text-decoration: none;
}

.container{
  width: 700px;
  display: flex;
  justify-content: space-evenly;
}

/* Customized style */
.card-red {
  background-color: #670101;
  border-radius: 5%;
  margin: 36px, 36px;
  padding: 16px 24px;
  text-align: center;
  box-shadow: 0px 8px 16px rgb(0 0 0 / 30%);
  /* margin: 48px; */
}

.card-banner {
  background-image: url("images/download (1).gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 160px;
  margin-bottom: 36px;
  padding: 16px 24px;
  text-align: center;
  box-shadow: 0px 8px 16px rgb(0 0 0 / 30%);
  /* margin: 48px; */
}

.card-footer {
  background-color: #670101;
  margin-top: 36px;
  padding: 16px 24px;
  text-align: center;
  box-shadow: 0px 8px 16px rgb(0 0 0 / 30%);
  /* margin: 48px; */
}
img.img-circle {
  width: 200px;
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  /* object-position: 44% 50%; */
}

img.meme {
  width: 300px;
  border-radius: 5%;
  object-fit: cover;
  margin-top: 36px;
  /* object-position: 44% 50%; */
}

a.btn-green {
  padding: 16px 24px;
  border-radius: 16px;
  display: inline-block;
  color: #B22727;
  background-color: #F6F7EB;
}

a.btn-green:hover {
  background-color: #222222;
  color: #F6F7EB;
  transition: .3s;
  text-decoration: none;
}

ul.list-inline {
  list-style: none;
  padding: 0;
}

ul.list-inline li {
  display: inline;
}

ul.list-inline a {
  font-size: 64px;
  color: #F6F7EB;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
